@charset "utf-8";

//@import "../node_modules/bulma/bulma.sass";
.navbar a {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#brandName {
  font-family: "Oxanium", sans-serif;
  font-size: xx-large;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

#errSpacer {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
}

//#loginModal{
//  display: none;
//}

//.footer {
//  background-color: #2E3138;
//  color: #989898;
//}

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Oxygen");
@import url("https://fonts.googleapis.com/css?family=Oxanium");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

$stevensPrimaryRed: #a32638;
$stevensPrimaryGrey: #9a989a;

$stevensSecondaryGrey: #363d45;
$stevensSecondaryBlue: #004380;
$stevensSecondaryTurquoise: #008a90;
$stevensSecondaryOrange: #e7842e;

$stevensAccentBlue: #007db8; // #4896CF;
$stevensAccentPurple: #7a548b;

$stevensLightGrey: #e4e5e6;
$stevensLightBlue: #e7f2fb;
$stevensLightTurquoise: #e8f2f3;
$stevensLightBeige: #f5f1e4;

// ---------------------------------------------------------------------------------------------------------------------
// Update Bulma's global variables
$family-sans-serif: "Oxygen", sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
//$primary: $purple;
//$link: $pink;
//$widescreen-enabled: false;
//$fullhd-enabled: true;

$primary: $stevensPrimaryRed;
$grey: $stevensPrimaryGrey;
$link: $stevensAccentBlue;
$info: $stevensSecondaryBlue;
// Update some of Bulma's component variables
//
$scheme-main: $stevensLightBeige;
$scheme-main-bis: darken($scheme-main, 10%);
$input-background-color: white;
$scheme-invert: invert($stevensLightBeige);
$background: $stevensLightBeige;
$navbar-background-color: $primary;
$navbar-dropdown-background-color: $primary;
$navbar-item-hover-background-color: lighten($primary, 35%);
$navbar-dropdown-item-hover-background-color: lighten($primary, 35%);
$navbar-dropdown-item-active-background-color: lighten($primary, 35%);
$navbar-item-hover-color: black;
$navbar-tab-hover-background-color: lighten($primary, 35%);
$navbar-item-active-color: black;
$navbar-item-color: white;
$navbar-divider-background-color: $primary;
$navbar-item-color: rgb(255, 255, 255); //invert($navbar-background-color);
$footer-color: true;
$modal-card-head-background-color: $stevensLightGrey;
//$navbar-background-color: $stevensPrimaryRed;
//$navbar-colors:
//$body-background-color: $stevensLightBeige;
//$footer-background-color: darken($body-background-color, 10%);
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;

// Import only what you need from Bulma
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/elements/title.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/components/navbar.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";

$input-disabled-background-color: $stevensLightGrey; //lighten($scheme-main, 7%);
@import "../node_modules/bulma/bulma.sass";
#currentPageNav {
  //background-color: lighten($primary, 7%);;
  background-color: darken(findDarkColor($primary), 20%);
}

@include until($desktop) {
  #currentPageNav:hover {
    //background-color: darken($primary, 7%);
    background-color: lighten($primary, 35%);
  }
}

@include from($desktop) {
  #currentPageNav:hover {
    //background-color: darken($primary, 7%);
    background-color: darken($primary, 20%);
  }
}

.serif {
  font-family: "EB Garamond", serif;
  font-size: large;
}

.is-serif {
  font-family: "EB Garamond", serif;
}

.modal-card {
  overflow-y: scroll;
}

p {
  overflow-wrap: break-word;
}

//@include until($desktop) {
//  .navbar .navbar-item, .navbar-link{
//    color: white;
//  }
//  .has-dropdown.navbar-link:active{
//    user-select: none;
//  }
//}

//.navbar-menu, .navbar-menu .buttons {
//  background-color: $stevensPrimaryRed;
//}
