<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="stylesheet" href="/css/site.css" />
  </head>

  <body class="p-3">

    {{{body}}}
    <div class="spacer"></div>
    <footer class="footer">
      <p class="has-text-centered">Site by: Pridhvi Myneni, Tyler Vrabel, Sarah
        Wiessler, Wenjing Zhou</p>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    {{!-- https://stackoverflow.com/questions/40386257/add-scripts-in-express-handlebars-from-view --}}
    {{#each scripts}}
      <script src="{{script}}"></script>
    {{/each}}
  </body>

</html>
