{{{navbar}}}

<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <h1 class="title">Make an appointment</h1>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        {{!-- error div --}}
        <div>
            <article class="message is-danger">
                <div class="message-body" id="error_body" hidden></div>
            </article>
            <br>
        </div>
        <div class="columns is-centered">
            {{!-- appointment form --}}
            {{#if buildings}}
            <form method="POST" action="/appointments" id="appointment" name="appointment">
                <label for="apptBuilding">Select Building: </label>
                <select id="apptBuilding" name="apptBuilding">
                    {{#each buildings}}
                        <option value="this._id">{{this.name}}</option>
                    {{/each}}
                </select>
                <label for="apptDate">Select date: &nbsp;</label>
                <input type="date" id="apptDate">&nbsp;
                <label for="apptTime">Select time: &nbsp;</label>
                <select id="apptTime" name="apptTime">
                    <option value="05:00:00">5:00 AM</option>
                    <option value="07:00:00">7:00 AM</option>
                    <option value="09:00:00">9:00 AM</option>
                    <option value="11:00:00">11:00 AM</option>
                    <option value="13:00:00">1:00 PM</option>
                    <option value="15:00:00">3:00 PM</option>
                    <option value="17:00:00">5:00 PM</option>
                    <option value="19:00:00">7:00 PM</option>
                    <option value="21:00:00">9:00 PM</option>
                    <option value="23:00:00">11:00 PM</option>
                    <option value="01:00:00">1:00 AM</option>
                    <option value="03:00:00">3:00 AM</option>
                </select>
                <input type="submit"></input>
            </form>
            {{else}}
            <div>
                <h1 class="title is-danger">You do not have access to any laundry facilities</h1>
                <p>Please add a building in preferences and/or contact your RA or an admin to get access to buildings.</p>
            </div>
            {{/if}} 
        </div>
    </div>
</div>

<script src="/public/js/calendar.js"></script>