<header>
    {{{navbar}}}
</header>
<div id="errSpacer"></div>
<div class="columns">
    <div class="is-4 is-offset-4 column" id="errDiv">
        <div class="card">
            <div class="card-header">
                <h1 class="card-header-title title is-centered">Error {{errCode}}: {{errMsg}}</h1>
            </div>
            <div class="card-content">
                <p class="block">{{errMsgDescriptive}}</p>
                <p class="block"><a href="/">Return home?</a></p>
            </div>
        </div>
    </div>
</div>

<!--- Body goes here --->
