<header>
    <nav class="navbar is-primary">
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Appointments
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Buildings
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Building 1
                        </a>
                        <a class="navbar-item">
                            Building 2
                        </a>
                        <a class="navbar-item">
                            Building 3
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="notification.handlebars">Notification</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!--- Body goes here --->
