<header>
    {{{navbar}}}
</header>

<article class="content m-5">
    <h1 class="title">What is Duck Wash?</h1>
    <div class="serif">
        <p>
            Are you tired of lugging your laundry around just to find that the laundry machines are full?
        </p>
        <p>
            Are you tired of waiting for other people to get their laundry out of the machine?
        </p>
        <p>
            Does your life revolve around your laundry?
        </p>

        <p>With Duck Wash, simply schedule the machines you need to do your laundry ahead of time and wash your clothes
            when you need to. It's that simple. Sign up today and get your laundry out of the way!</p>
    </div>

</article>

<!--- Body goes here --->
