<header>
    {{{navbar}}}
</header>

<div class="modal" id="loginModal">
    <div class="modal-background" id="loginBackground"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Log In</p>
            <button class="delete is-large" aria-label="close" id="closeLogin"></button>
        </header>
        <form id="loginForm" class="form">
            <section class="modal-card-body">
                <p id="loginFormHelp"></p>
                <!-- Login Form -->
                <label for="loginEmail" class="label">Email</label>
                <div class="control" id="loginEmailDiv">
                    <input type="email" id="loginEmail" class="input" placeholder="Email" autocomplete="username"
                           name="email">
                    <p class="help" id="loginEmailHelp"></p>
                </div>
                <br>
                <label for="loginPassword" class="label">Password</label>
                <div class="control" id="loginPasswordDiv">
                    <input type="password" id="loginPassword" class="input" placeholder="Password"
                           autocomplete="current-password" name="password">
                    <div class="content" id="loginPasswordHelp"></div>
                </div>
            </section>
            <footer class="modal-card-foot buttons is-justify-content-right">
                <input type="submit" class="button is-success" value="Log In" id="loginSubmit">
            </footer>
        </form>
    </div>
</div>

<div class="modal" id="signupModal">
    <div class="modal-background" id="signupBackground"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Sign Up</p>
            <button class="delete" aria-label="close" id="closeSignup"></button>
        </header>
        <form id="signupForm" class="form">
            <section class="modal-card-body">
                <p id="signupFormHelpText" class="help is-danger is-size-6"></p>
                <!-- Sign Up Form -->
                <div class="columns">
                    <div class="column">
                        <label class="label" for="signupNameFirst">First Name</label>
                        <div class="control">
                            <input class="input" type="text" id="signupNameFirst" placeholder="Atilla"
                                   autocomplete="given-name">
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" for="signupNameLast">Last Name</label>
                        <div class="control">
                            <input class="input" type="text" id="signupNameLast" placeholder="Duck"
                                   autocomplete="family-name">
                        </div>
                    </div>
                </div>
                <label class="label" for="signupEmail">Email</label>
                <div class="control">
                    <input type="email" class="input" id="signupEmail" placeholder="aduck@stevens.edu"
                           autocomplete="username">
                </div>
                <br>
                <div class="columns">
                    <div class="column">
                        <label class="label" for="signupPassword">Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Password" id="signupPassword"
                                   autocomplete="new-password">
                        </div>
                    </div>
                    <div class="column">
                        <label class="label" for="signupPasswordConfirmation">Confirm Password</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="Password" id="signupPasswordConfirmation"
                                   autocomplete="new-password">
                        </div>
                    </div>
                </div>
                <label class="label" for="accessGroupSelection">Access Group</label>
                <div class="control">
                    <select class="select input" id="accessGroupSelection">
                        <optgroup label="Group not found?" class="optgroup">
                            <option class="option" value="Other">other...</option>
                        </optgroup>
                    </select>
                    <p class="help">Apply to your main access groups/buildings (subject to approval by an RA/Admin). You
                        can apply for additional groups later, from the settings menu.</p>
                </div>
                <br>
                <label class="label" for="otherGroupField">Other Access Group</label>
                <div class="control">
                    <input type="text" class="input" placeholder="Access Group" id="otherGroupField" disabled>
                </div>
            </section>
            <footer class="modal-card-foot buttons is-justify-content-right">
                <input type="submit" class="button is-success" value="Sign Up">
            </footer>
        </form>
    </div>
</div>

<article class="content m-5">
    <h1 class="title">What is Duck Wash?</h1>
    <div class="serif">
        <p>
            Are you tired of lugging your laundry around just to find that the laundry machines are full?
        </p>
        <p>
            Are you tired of waiting for other people to get their laundry out of the machine?
        </p>
        <p>
            Does your life revolve around your laundry?
        </p>

        <p>With Duck Wash, simply schedule the machines you need to do your laundry ahead of time and wash your clothes
            when you need to. It's that simple. Sign up today and get your laundry out of the way!</p>
    </div>

</article>
<script src="/js/home/login.js" defer></script>
<script src="/js/home/signup.js" defer></script>
<script src="/js/home/accessGroups.js" defer></script>

<!--- Body goes here --->
