<article class="navbar-item">
  <head>
    <meta charset="utf-8">
    <title>email notification</title>
  </head>
  <form action="/notification" method="POST">
        <label id="notification">
            <button>Notify me!</button>
        </label>
    </form>
</article>