<nav class="navbar is-primary">
        <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Appointments
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Buildings
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Building 1
                        </a>
                        <a class="navbar-item">
                            Building 2
                        </a>
                        <a class="navbar-item">
                            Building 3
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="/notification">Notification</a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-link">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
<article class="navbar-item">
  <head>
    <meta charset="utf-8">
    <title>Reset Password</title>
  </head>
  
  <form action="/reset" method="POST">
        <h1>Reset Password</h1>
        <label for="username" class='username'>Username</label>
	    <input type="text" id="username" name='username' />
        <label for="password">Password</label>
        <input type="password" id="password" name='password'/>
	    <button type="submit" >Reset</button>
    </form>
</article>