<nav class="navbar is-primary">
    <div class="navbar-brand">
        <a class="navbar-item" id="brandName" href="/">Duck Wash</a>
        <a role="button" class="navbar-burger is-large" aria-label="menu" aria-expanded="false" id="navburger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item"
                {{#if currentPageIsHome}}
               id="currentPageNav"
                {{/if}}>
                Home
            </a>
            {{#if userLoggedIn}}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Appointments
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item">Create an Appointment</a>
                        <a class="navbar-item">View Appointments</a>
                    </div>
                </div>


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Buildings
                    </a>

                    <div class="navbar-dropdown">
                        {{#if navbarUserInfo.buildings}}
                            {{#each navbarUserInfo.buildings}}
                                <a class="navbar-item" href="/buildings/{{this._id}}">
                                    {{this.name}}
                                </a>
                            {{/each}}
                        {{else}}
                            <p class="card-content">You don't currently have access to any buildings. Please wait for an
                                Admin/RA to enable your access.</p>
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        </div>

        <div class="navbar-end">
            {{#if userLoggedIn}}
                <a class="navbar-item" href="/report">Report a Concern</a>
                <a class="navbar-item" href="/preferences">Preferences</a>
            {{/if}}
            <div class="navbar-item">
                <div class="buttons is-centered">
                    {{#if userLoggedIn}}
                        <a class="button is-link" href="/logout">Log Out</a>
                    {{else}}
                        <a class="button is-info" href="/signup" id="signupButton">Sign Up</a>
                        <a class="button is-link" href="/login" id="loginButton">Log In</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="/js/navbar/mobile.js" defer></script>

<!--- Body goes here --->
